body { 
    background-color: #FEFAF6; 
    color: #102C57;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
}

.create-form {
    background-color: #DAC0A3;
    margin: 2% auto;
    padding: 2%;
    max-width: 80%;
}

.btn {
    background-color: #102C57;
    color: white;
}

.card-color {
    background-color: #DAC0A3;
}

.details {
    max-width: 70%;
    margin: 2% auto;
}



