body { 
    background-color: #FEFAF6; 
    color: #102C57;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
}

.confirm-delete-form, .create-form {
    background-color: #DAC0A3;
    padding: 2%;
    max-width: 80%;
}

.create-form {
    margin: 2% auto;
}

.confirm-delete-form {
    margin: 5% auto;
}


.btn {
    background-color: #102C57;
    color: white;
}

.card-color {
    background-color: #DAC0A3;
}

.details {
    max-width: 80%;
    margin: 2% auto;
}



