:root {
    --main-color: #0d3b66;
    --forms-color: #faf0ca; 
    --components-color: #0d3b66;
    --hold-components-color: #f4d35e;
    --foreground-components-color: white;
    --foreground-hold-components-color: black;
}

.blog-navbar{
    background-color: var(--forms-color);
}


body { 
    background-color: var(--main-color); 
    color: black;
    font-family: "Open Sans", sans-serif;
}

.confirm-delete-form, .create-form, .password-form {
    background-color: var(--forms-color);
    padding: 2%;
    max-width: 80%;
}

.create-form {
    margin: 2% auto;
}

.comment-button {
    width: 50%;
}

.confirm-delete-form, .password-form{
    margin: 5% auto;
}

.btn {
    background-color: var(--components-color);
    color: var(--foreground-components-color);
}

.btn:hover {
    background-color: var(--hold-components-color);
    color: var(--foreground-hold-components-color);
}

.card-color {
    background-color: var(--forms-color);
}

.details {
    max-width: 80%;
    margin: 2% auto;
    padding: 5%;
}

.login-form {
    background-color: var(--forms-color);
    padding: 5%;
    max-width: 450px;
    margin: 5% auto;
}

.profile-image {
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    margin: 0 10px; 
    transition: transform 0.3s ease; 
}
  
.profile-image:hover {
    transform: scale(1.1); 
}

.profile-details-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

.create-user-form {
    background-color: var(--forms-color);
    max-width: 800px;
    margin: 2% auto;
    padding: 2%;
}

.post-details {
    width: 80%; 
    margin: auto;
}


.post-detail-image {
    width: 70%; 
    margin: auto;
}

.messages-in-main-page {
    color: white;
}

#register-button {
    background-color: var(--hold-components-color);
    color: black;
}


 




