{% extends 'base_template.html' %}

{% block title %}
    User List
{% endblock %}

{% block content %}
    {% if user_list %}
    <table class="table text-center table-hover table-bordered table-responsive"">
        <thead class="custom-thead">
          <tr>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Name</th>
            <th scope="col">Lastname</th>
            <th scope="col">Role</th>
            <th scope="col">Created At</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          {% for user in user_list %}
          <tr>
            <td class="fw-normal">{{ user.username }}</td>
            <td class="fw-normal">{{ user.email }}</td>
            <td class="fw-normal">{{ user.first_name }}</td>
            <td class="fw-normal">{{ user.last_name }}</td>
            <td class="fw-normal">{{ user.role }}</td>
            <td class="fw-normal">{{ user.created_at }}</td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}